<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Футбольный Клуб</title>
    <style>
        /* Стили остаются прежними */
    </style>
</head>
<body>
    <h1>Футбольный Клуб</h1>
    <div class="form-container">
        <form id="login-form">
            <input type="text" name="login" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
        <script>
            document.getElementById('login-form').addEventListener('submit', async (event) => {
                event.preventDefault();
    
                const login = event.target.login.value;
                const password = event.target.password.value;
                
                
    
                const response = await fetch('/auth/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({login, password})
                });

                if (response.ok) {
                window.location.href = '/my-system/'; 
                } else {
                    alert('Неправильный логин или пароль, попробуйте снова');
                }
            });
        </script>
        <a href="http://127.0.0.1:8080/auth/registration" class="link">Зарегистрироваться</a>
    </div>
</body>
</html>